@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root
{
    --primary-color: #ffffff;

    --second-color: #e40414;
    --second-color-alt: #a7010c;

    --text-color: #000000;
    --text-color-alt: #585858;

    --bg-color: #f2f4f6;
    --bg-color-second: #414040;
}

/* Global Styles */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
}

.button 
{
    padding: 8px 20px;
    background-color: var(--second-color);
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 5px;
}

.button:hover
{
    background-color: var(--second-color-alt);
}

/* Container Fixed */
.container__fixed
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

/* Bar */
.bar 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    box-shadow: 0 -20px 30px var(--text-color);
    position: relative;
}

.bar__text 
{
    color: var(--text-color-alt);
    font-size: 15px;
    margin-right: 15px;
    font-weight: 500;
}

.bar__button
{
    font-size: 12px;
}

/* Header */
.header 
{
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.important-text
{
    text-transform: uppercase;
    font-weight: 700;
}

.header__logo 
{
    width: 140px;
    height: 60px;
}

.logo 
{
    width: 100%;
    height: 100%;
}

.header__form
{
    background-color: var(--primary-color);
    width: 500px;
    height: 40px;
    margin-left: 40px;
    position: relative;
    border-radius: 5px;
}

.header__input
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    font-size: 1.2em;
    z-index: 0;
    border-radius: inherit;
    border-style: none;
    border: 1px solid var(--text-color-alt);
    outline: none;
    color: var(--text-color);
}

.header__icon
{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    z-index: 1;
    font-size: 1.2em;
    color: var(--text-color-alt);
}

.header__links
{
    display: flex;
}

.header__item
{
    margin-left: 40px;
    list-style: none;
}

.header__link
{
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.2em;
}

.header__link:hover 
{
    color: var(--second-color);
}

.header__button
{
    margin-left: 40px;
}

.icon
{
    margin-right: 5px;
}

/* Nav */
.nav
{
    width: 100%;
    height: 50px;
    background-color: var(--bg-color);

}

.nav__list
{
    display: flex;
    justify-content: center;
    height: inherit;
    width: 80%;
    margin: auto;
}


.nav__item
{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.nav__link
{
    text-decoration: none;
    display: inline-block;
    color: var(--text-color-alt);
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.nav__link:hover 
{
    background-color: var(--second-color);
    color: var(--primary-color);
}

.container
{
    width: 100%;
    min-height: 100vh;
}

/* Carrousel */
.carrousel
{
    width: 100%;
    height: calc(100vh - 190px);
    position: relative;
    margin-top: 190px;
}

.carrousel__image
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s linear;
}

.carrousel__image.active 
{
    opacity: 1;
}

.image
{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

/* Carrousel content */
.carrousel__content
{
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.carrousel__title
{
    font-size: 3.8em;
    color: var(--primary-color);
    text-transform: uppercase;
}

.carrousel__text
{
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.7em;
    display: block;
}

.carrousel__button
{
    background-color: var(--text-color);
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 600;
}

.carrousel__button:hover
{
    background-color: var(--primary-color);
    color: var(--text-color)
}

.carrousel__controls
{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carrousel__btn
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-left: 10px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}


.carrousel__btn.active
{
    background-color: var(--second-color);
}

.bar--red
{
    box-sizing: none;
    background-color: var(--second-color);
}

.bar__text--white
{
    color: var(--primary-color);
    margin-right: 10px;
}

.bar__button--link
{
    background-color: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 800;
    position: relative;
}

.bar__button--link:hover
{
    background-color: transparent;
}

.bar__button--link::before
{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
}

.bar__ext
{
    color: var(--primary-color);
    line-height: 40px;
    margin-left: 8px;
    transition: .3s ease-in;
}

.bar__button--link:hover + .bar__ext{
    transform: translateX(10px);
}

.bar__icon
{
    color: var(--primary-color);
    line-height: 40px;
    margin-right: 15px;
}

/* Sections */
.section
{
    min-height: inherit;
}

/* Section -- Products */
.product
{
    background-color: var(--bg-color);
    padding: 40px 0;
}

.product__title
{
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 500;
}

.product__container
{
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Card */
.card
{
    width: 300px;
    height: 400px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
    margin: 40px 0;
}

.card__image
{
    width: 100%;
    height: 200px;
    padding-top: 40px;
}

.image
{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.image--product
{
    object-fit: contain;
}

.card__oferts
{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.card__exclusive
{
    color: var(--primary-color);
    background-color: var(--bg-color-second);
    padding: 5px 12px;
    border-radius: 20px;
}

.card__porcent
{
    color: var(--primary-color);
    background-color: var(--second-color);
    padding: 5px 20px;
    border-radius: 20px;
}

.card__content
{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
}

.card__title
{
    font-size: 1.3em;
    font-weight: 400;
    padding-top: 8px;
}

.card__price
{
    font-size: 1.8em;
    font-weight: 700;
}

.card__price--before
{
    color: var(--text-color-alt);
    text-decoration: line-through;
    font-size: 1.2em;
}

.card__buttons
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: inherit;
    height: inherit;
    margin-top: 20px;
}

.card__count__buttons
{
    display: flex;
    flex-direction: row;
}

.card__count__button
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid var(--text-color-alt);
    cursor: pointer;
}

.card__count__number
{
    line-height: 40px;
    font-size: 1.2em;
    margin-right: 10px;
}

.card__button
{
    display: inline-block;
    padding: 7px 40px;
    text-decoration: none;
    background: var(--second-color);
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
}

.card__button:hover
{
    background-color: var(--second-color-alt);
}

/* Section Mask */
.mark
{
    background-color: var(--primary-color);
    padding: 40px 0;
    overflow-x: hidden;
}

.mark__title
{
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 900;
}

.mark__subtitle
{
    text-align: center;
    line-height: 25px;
    color: var(--text-color-alt);
    font-weight: 500;
    margin-bottom: 100px;
}

/* Container masks */
.marks__container
{
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;
    transition: .3s linear;
    overflow: hidden;
}

.mark__item
{
    width: 200px;
    height: 80px;
    margin: 0 20px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    transition: .3s linear;
}

.image-mask
{
    object-fit: contain;
}

.maks__buttons
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 120px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mask__button
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Section Destac */
.destac
{
    padding: 30px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    overflow: hidden;
}

.destac__box
{
    width: 550px;
    height: 350px;
    position: relative;
    margin-right: 15px;
}

.destac__box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

.destac__content
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px 20px;
}

.destac__title
{
    font-size: 3em;
    color: var(--primary-color);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.button--white
{
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 700;
    padding: 15px 20px;
}

.button--white:hover
{
    background-color: var(--text-color);
    color: var(--primary-color);
}

.destac__mark
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background-color: var(--primary-color);
}

.destac__carrousel
{
    width: 870px;
    height: 350px;
    background-color: red;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.destac__carrousel > .card 
{
    transform: scale(0.8);
}

/* Section enlac */
.enlac__container
{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.enlac__box
{
    width: 470px;
    height: 350px;
    position: relative;
}

.enlac__box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

.enlac__content
{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    color: var(--primary-color);
    width: 100%;
}

.enlac__title
{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.enlac__paragraph
{
    padding: 0 20px;
    font-size: 1.5em;
    font-weight: 300;
}

.enlac__box > .button
{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.enlac__box > .button.button--white
{
    padding: 0.8em 5em;
}

.enlac__box--large
{
    width: 100%;
    height: 350px;
    position: relative;
}

.enlac__box--large > .button
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.enlac__box--large > .button.button--white
{
    padding: 0.8em 5em;
}

.enlac__box--large > .enlac__title
{
    text-transform: uppercase;
}











